- extends "template_nocomments.html.haml"

- block content
  %h2 Blockland Remote Server Manager
  %form
    = form.as_p
    %input{"type": "submit", "value": "Submit"}/
  %h3 Download
  You can download the desktop client from the <a href="http://dontcare4free.tk/project/blservermanager/">project page</a>.
  %h3 Disclaimers
  %ul
    %li No warranties
    %li The service may go down at any time
    %li All data is transmitted over plain-text
    %li You may be suspended for any or no reason at all
